html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img/background.png);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
}

.col {
  padding: 0.6em;
  margin: 8px;
}

@media all and (min-width: 320px) {
  .col-xwd-1 {
    width: 8.3334%;
  }

  .col-xwd-2 {
    width: 16.6668%;
  }

  .col-xwd-3 {
    width: 25.0002%;
  }

  .col-xwd-4 {
    width: 33.3336%;
  }

  .col-xwd-5 {
    width: 41.667%;
  }

  .col-xwd-6 {
    width: 50.0004%;
  }

  .col-xwd-7 {
    width: 58.3338%;
  }

  .col-xwd-8 {
    width: 66.6672%;
  }

  .col-xwd-9 {
    width: 75.0006%;
  }

  .col-xwd-10 {
    width: 83.334%;
  }

  .col-xwd-11 {
    width: 91.6674%;
  }

  .col-xwd-12 {
    width: 100.0008%;
  }

  .master .product-bg, .master .overlay {
    display: none;
  }

  .img-section li img {
    top: 20%;
  }

  .page-id {
    font-size: 2.4em;
  }

  .hero {
    margin-top: 20%;
  }
  .hero .hero-line {
    font-size: 3em;
  }
  .hero .hero-des {
    border-right: 0;
  }

  header .header-content .primary-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  header .header-content .primary-nav ul {
    display: none;
    position: absolute;
    top: 48px;
    box-shadow: -2px 2px 30px rgba(0, 0, 0, 0.6);
    background-color: rgba(22, 26, 39, 0.97);
  }
  header .header-content .primary-nav ul li {
    margin: 0.8em 1.8em;
  }
  header .header-content .primary-nav ul li a {
    padding: 0.8em 0;
    text-decoration: none;
    color: #fc622c;
    font-weight: 400;
    font-size: 0.9em;
    transition: all 250ms ease-out;
  }
  header .header-content .primary-nav ul li a:hover {
    color: white;
  }
  header .header-content #menutoggle:checked + .primary-nav ul {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }
  .hamburger:hover {
    color: white;
  }

  .beliefs-section {
    margin-bottom: 50%;
  }
  .beliefs-section .beliefs .belief-link a {
    font-size: 0.9em;
    margin: 0.6em 0;
  }
  .beliefs-section .beliefs .belief-link ul li img {
    top: 100%;
    left: 0;
  }

  .img-wrapper {
    border-radius: 0;
    margin-top: -400px;
  }
}
@media all and (min-width: 420px) {
  .col-wd-1 {
    width: 8.3334%;
  }

  .col-wd-2 {
    width: 16.6668%;
  }

  .col-wd-3 {
    width: 25.0002%;
  }

  .col-wd-4 {
    width: 33.3336%;
  }

  .col-wd-5 {
    width: 41.667%;
  }

  .col-wd-6 {
    width: 50.0004%;
  }

  .col-wd-7 {
    width: 58.3338%;
  }

  .col-wd-8 {
    width: 66.6672%;
  }

  .col-wd-9 {
    width: 75.0006%;
  }

  .col-wd-10 {
    width: 83.334%;
  }

  .col-wd-11 {
    width: 91.6674%;
  }

  .col-wd-12 {
    width: 100.0008%;
  }
}
@media all and (min-width: 768px) {
  .col-md-1 {
    width: 8.3334%;
  }

  .col-md-2 {
    width: 16.6668%;
  }

  .col-md-3 {
    width: 25.0002%;
  }

  .col-md-4 {
    width: 33.3336%;
  }

  .col-md-5 {
    width: 41.667%;
  }

  .col-md-6 {
    width: 50.0004%;
  }

  .col-md-7 {
    width: 58.3338%;
  }

  .col-md-8 {
    width: 66.6672%;
  }

  .col-md-9 {
    width: 75.0006%;
  }

  .col-md-10 {
    width: 83.334%;
  }

  .col-md-11 {
    width: 91.6674%;
  }

  .col-md-12 {
    width: 100.0008%;
  }

  .master {
    height: 260px;
  }
  .master .product-bg, .master .overlay {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .beliefs-section .beliefs .belief-link a {
    font-size: 1.2em;
  }

  .hero {
    margin-top: 0;
  }
  .hero .hero-line {
    font-size: 4em;
  }
  .hero .hero-des {
    border-right: 6px solid #fc622c;
  }

  header .header-content .primary-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .header-content .primary-nav ul {
    display: flex;
    position: relative;
    top: 0;
    box-shadow: none;
  }
  header .header-content .primary-nav ul li {
    margin: 0.8em 1.8em;
  }
  header .header-content .primary-nav ul li:last-child {
    margin-right: 0;
  }
  header .header-content .primary-nav ul li a {
    padding: 0.8em 0;
    text-decoration: none;
    color: #fc622c;
    font-weight: 400;
    font-size: 0.9em;
  }
  header .header-content .primary-nav ul li a:hover {
    color: white;
  }

  .img-wrapper {
    border-radius: 0 0 0 55%;
    margin-top: -240px;
  }
}
@media all and (min-width: 960px) {
  .col-sm-1 {
    width: 8.3334%;
  }

  .col-sm-2 {
    width: 16.6668%;
  }

  .col-sm-3 {
    width: 25.0002%;
  }

  .col-sm-4 {
    width: 33.3336%;
  }

  .col-sm-5 {
    width: 41.667%;
  }

  .col-sm-6 {
    width: 50.0004%;
  }

  .col-sm-7 {
    width: 58.3338%;
  }

  .col-sm-8 {
    width: 66.6672%;
  }

  .col-sm-9 {
    width: 75.0006%;
  }

  .col-sm-10 {
    width: 83.334%;
  }

  .col-sm-11 {
    width: 91.6674%;
  }

  .col-sm-12 {
    width: 100.0008%;
  }

  .master {
    height: 300px;
  }

  .page-id {
    font-size: 5em;
  }
}
@media all and (min-width: 1230px) {
  .col-xs-1 {
    width: 8.3334%;
  }

  .col-xs-2 {
    width: 16.6668%;
  }

  .col-xs-3 {
    width: 25.0002%;
  }

  .col-xs-4 {
    width: 33.3336%;
  }

  .col-xs-5 {
    width: 41.667%;
  }

  .col-xs-6 {
    width: 50.0004%;
  }

  .col-xs-7 {
    width: 58.3338%;
  }

  .col-xs-8 {
    width: 66.6672%;
  }

  .col-xs-9 {
    width: 75.0006%;
  }

  .col-xs-10 {
    width: 83.334%;
  }

  .col-xs-11 {
    width: 91.6674%;
  }

  .col-xs-12 {
    width: 100.0008%;
  }

  .master {
    height: 400px;
  }

  .img-section li img {
    top: -4%;
  }

  .beliefs-section {
    margin-bottom: 0;
  }
  .beliefs-section .beliefs .belief-link a {
    font-size: 1.4em;
    margin: 1em 0;
  }
  .beliefs-section .beliefs .belief-link .img-section li img {
    top: -4%;
    left: 95%;
  }
}
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slidein {
  0% {
    margin-left: 100%;
    width: 0;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    width: 66.6672%;
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 0;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    width: 66.6672%;
    opacity: 1;
  }
}
@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popup {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes movinginright {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes movinginright {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes movinginleft {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes movinginleft {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(180deg) translateX(-200px);
    transform: rotateY(180deg) translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateX(0);
    transform: rotateY(0deg) translateX(0);
    opacity: 1;
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateY(180deg) translateX(-200px);
    transform: rotateY(180deg) translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateX(0);
    transform: rotateY(0deg) translateX(0);
    opacity: 1;
  }
}
header {
  height: 54px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #161a27;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}
header .header-content {
  height: 54px;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-wrapper {
  height: 850px;
  position: relative;
  background-image: url(../img/castle.jpg);
  background-position: 70% 50%;
  background-size: cover;
}

.hero {
  position: absolute;
  top: 400px;
}
.hero .hero-line {
  font-family: "montserrat";
  line-height: 1.2em;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: white;
  margin-left: auto;
  text-align: right;
  animation-name: appear;
  animation-delay: 250ms;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hero .hero-des {
  font-family: "Rancho";
  font-size: 1.4em;
  line-height: 1.3em;
  text-align: right;
  margin-top: 2em;
  color: white;
  font-weight: 400;
  padding-right: 1em;
  animation-name: slidein;
  animation-duration: 1.8s;
  animation-delay: 250ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.page-id {
  font-family: 'montserrat', sans-serif;
  padding-top: 0.6em;
  color: #71716f;
  font-weight: 300;
}

.beliefs-section .beliefs {
  position: relative;
}
.beliefs-section .beliefs .belief-link:nth-child(1) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link:nth-child(2) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link:nth-child(3) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link:nth-child(4) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link:nth-child(5) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 1250ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link:nth-child(6) {
  animation-name: appear;
  animation-delay: 150ms;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.beliefs-section .beliefs .belief-link a {
  text-decoration: none;
  color: #FC622C;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.beliefs-section .beliefs .belief-link a:hover {
  text-decoration: underline;
  color: #161a27;
}
.beliefs-section .beliefs .belief-link .img-section li img {
  position: absolute;
  visibility: hidden;
  border-radius: 4px;
  box-shadow: 0px 40px 100px 10px rgba(22, 26, 39, 0.3);
}
.beliefs-section .beliefs .belief-link:hover .img-section li img {
  visibility: visible;
  animation-name: popup;
  animation-duration: 800ms;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.portfolio {
  background-color: #161a27;
}
.portfolio .master {
  position: relative;
}
.portfolio .master:nth-child(1) {
  animation-name: movinginright;
  animation-iteration-count: 1;
  animation-delay: 150ms;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.portfolio .master:nth-child(2) {
  animation-name: movinginright;
  animation-iteration-count: 1;
  animation-delay: 150ms;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.portfolio .master:nth-child(3) {
  animation-name: movinginleft;
  animation-iteration-count: 1;
  animation-delay: 150ms;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.portfolio .master:nth-child(4) {
  animation-name: movinginleft;
  animation-iteration-count: 1;
  animation-delay: 150ms;
  animation-timing-function: cubic-beizer(0.26, 0.96, 0.81, 1.01);
  animation-fill-mode: forwards;
}
.portfolio .master:nth-child(1) {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
.portfolio .master:nth-child(2) {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
.portfolio .master:nth-child(3) {
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
}
.portfolio .master:nth-child(4) {
  -webkit-animation-duration: 1600ms;
  animation-duration: 1600ms;
}
.portfolio .master .product-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.portfolio .master .product-bg img {
  width: 100%;
}
.portfolio .master .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(22, 26, 39, 0.8);
  z-index: 3;
}
.portfolio .master .card {
  padding: 1.2em;
  text-align: center;
}
.portfolio .master .card .product-logo {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.portfolio .master .card .product-name {
  font-family: "Oswald";
  color: #fc622c;
  font-size: 1.6em;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  z-index: 5;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.portfolio .master .card .product-name:hover {
  text-decoration: underline;
  color: white;
}
.portfolio .master .card .product-brief {
  text-align: center;
  margin-top: 1.6em;
  font-size: 1em;
  color: white;
  line-height: 1.2em;
  position: relative;
  z-index: 5;
}
.portfolio .master .card .product-des {
  position: relative;
  z-index: 5;
  font-size: 0.75em;
  padding: 3em;
  padding-top: 0.8em;
  color: #afafaf;
  line-height: 1.6em;
}

.mas-footer {
  background-color: #282828;
  margin-top: 4em;
}
.mas-footer .footer .text-info .mail-us span {
  color: #727272;
  font-weight: 400;
  margin-bottom: 0.4em;
  font-size: 0.8em;
}
.mas-footer .footer .text-info .mail-us a {
  font-family: "Oswald";
  font-weight: 400;
  color: #fc622c;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.02em;
}
.mas-footer .footer .text-info .mail-us a:hover {
  text-decoration: underline;
}
.mas-footer .footer .text-info .call-us p {
  display: inline;
  color: #727272;
  font-weight: 400;
  margin-bottom: 0.4em;
  font-size: 0.8em;
}
.mas-footer .footer .text-info .call-us span {
  font-family: "Oswald";
  font-weight: 400;
  color: #fc622c;
  font-size: 0.8em;
  letter-spacing: 0.02em;
}
.mas-footer .footer .text-info .locate a {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
  color: #fc622c;
}
.mas-footer .footer .text-info .locate a:hover {
  text-decoration: underline;
}
.mas-footer .footer .copyright-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mas-footer .footer .copyright-sec span {
  font-size: 0.8em;
  color: #5e5e5e;
}
.mas-footer .footer .footer-menu {
  display: block;
  text-align: center;
}
.mas-footer .footer .footer-menu li {
  display: inline;
  margin: 0 1em;
}
.mas-footer .footer .footer-menu li:last-child {
  margin-right: 0;
}
.mas-footer .footer .footer-menu li:first-child {
  margin-left: 0;
}
.mas-footer .footer .footer-menu li a {
  font-size: 0.8em;
  text-decoration: none;
  color: #727272;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.mas-footer .footer .footer-menu li a:hover {
  color: white;
}

#ourwork {
  margin-top: 4em;
}

#ourteam {
  margin-top: 4em;
}

.master-por:nth-of-type(1) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: -200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por:nth-of-type(2) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por:nth-of-type(3) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por:nth-of-type(4) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por:nth-of-type(5) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por:nth-of-type(6) {
  animation-name: flip;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.master-por .portrayal-sec img {
  margin: 1em 0;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 4px rgba(22, 26, 39, 0.3);
}
.master-por .portrayal-sec .name {
  font-family: "Oswald";
  font-size: 1.2em;
  margin: 1em 0 0.4em 0;
  color: #FC622C;
}

#menutoggle {
  display: none;
}

.hamburger {
  font-size: 2em;
  color: #fc622c;
  padding: 4px 8px;
  padding-right: 0;
}
.hamburger:hover, .hamburger:active {
  cursor: pointer;
}
