
.grid {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*="col-"] {
	width: 100%;
	float: left;
	min-height: 1px;
}

.col {
  padding: 0.6em;
	margin: 8px;
}

@media all and (min-width: 320px) {
	@for $i from 1 through 12 {
     .col-xwd-#{$i} {width: (8.3334% * $i);}
   }
  .master {
   	.product-bg, .overlay {
   	 	display: none;
   	}
  }

  .img-section li img {
    top: 20%;	
   }

  .page-id {
    font-size: 2.4em;
  }

  .hero {
    margin-top: 20%;
    .hero-line {
      font-size: 3em;
    }
    .hero-des {
      border-right: 0;
    }
  }

  header {
  	.header-content {
  		.primary-nav {
  			position: relative;
  			display: flex;
  			justify-content: flex-end;
  			ul {
  				display: none;
  				position: absolute;
  				top: 48px;
  				box-shadow: -2px 2px 30px rgba(0,0,0,0.6);
  				background-color: rgba(22, 26, 39, 0.97);
  				li {
  					margin: 0.8em 1.8em;
  					a {
  						padding: 0.8em 0;
		    			text-decoration: none;
		    			color: rgba(252, 98, 44, 1);
		    			font-weight: 400;
		    			font-size: 0.9em;
		    			&:hover {
	    				color: white;
	    			  }
  					}
  				}
  			}
  		}
  		#menutoggle {
  			&:checked + .primary-nav {
          ul {
          	display: flex;
  				  flex-direction: column;
          }
  			}
  		}
  	}
  }
  .hamburger {
  	display: block ;
  	&:hover {
  		color: white;
  	}
  }
  .beliefs-section {
    margin-bottom: 50%;
  	.beliefs {
  		.belief-link {
  			a {
  				font-size: 0.9em;
          margin: 0.6em 0;
  			}
  			ul li img {
  				top: 100%;
  				left: 0;
  			}
  		}
  	}
  }

  .img-wrapper {
    border-radius: 0;
    margin-top: -400px;
  }
}

@media all and (min-width: 420px) {
	@for $i from 1 through 12 {
		.col-wd-#{$i} {width: (8.3334% * $i);}
	}
}

@media all and (min-width: 768px) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {width: (8.3334% * $i);}
	}
	.master {
   	height: 260px;
   	.product-bg, .overlay {
   		display: block;
   	}
  }
  .hamburger {
  	display: none;
  }

  .beliefs-section {
  	.beliefs {
  		.belief-link {
  			a {
  				font-size: 1.2em;
  			}
  		}
  	}
  }

  .hero {
    margin-top: 0;
    .hero-line {
      font-size: 4em;
    }
    .hero-des {
      border-right: 6px solid rgba(252, 98, 44, 1);
    }
  }
  
  header {
  	.header-content {
  		.primary-nav {
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    ul {
	    	display: flex;
	    	position: relative;
	    	top: 0;
	    	box-shadow: none;
	    	li {
	    		margin: 0.8em 1.8em;
	    		&:last-child {
	    			margin-right: 0;
	    		}
	    		a {
	    			padding: 0.8em 0;
	    			text-decoration: none;
	    			color: rgba(252, 98, 44, 1);
	    			font-weight: 400;
	    			font-size: 0.9em;
	    			&:hover {
	    				color: white;
	    			}
	    		}
	    	}
	    }
		}
  	}
  }
  .img-wrapper {
    border-radius: 0 0 0 55%;
    margin-top: -240px;
  }
}

@media all and (min-width: 960px) {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {width: (8.3334% * $i);}
	}
	.master {
   	height: 300px;
   }

  .page-id {
    font-size: 5em;
  }
}

@media all and (min-width: 1230px) {
	@for $i from 1 through 12 {
		.col-xs-#{$i} {width: (8.3334% * $i);}
	}
	.master {
   	height: 400px;
  }
   .img-section li img {
    top: -4%;	
   }

  .beliefs-section {
    margin-bottom: 0;
  	.beliefs {
  		.belief-link {
  			a {
  				font-size: 1.4em;
          margin: 1em 0;
  			}
        .img-section li img {
          top: -4%;
          left: 95%;
        }
  		}
  	}
  }
}